<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="robot_model" >

    <material name="blue">
        <color rgba="0 0 0.8 1" />
    </material>
    <material name="white">
        <color rgba="1 1 1 1" />
    </material>
    <material name="red">
        <color rgba="0.8 0 0 1" />
    </material>
    <material name="green">
        <color rgba="0 0.8 0 1" />
    </material>
    <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0" />
    </material>

  <!-- ur5e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />
  <xacro:ur5e_robot prefix="robot1_" joint_limited="false" />

  <!-- Vacuum Gripper -->
  <xacro:include filename="$(find demo_support)/epick_gripper/urdf/epick_gripper.urdf.xacro" />
  <xacro:epick_gripper_urdf prefix="vacuum_gripper_"/>
  


  <link name="world" />
  <link name="baseplate_link">
    <visual>
      <origin xyz="0 0 0.0" />
      <geometry>
        <box size="1.1 0.7 0.03" />
      </geometry>
      <material name="LightGrey"/>
    </visual>
  </link>

  <joint name="baseplate_joint" type="fixed">
    <origin xyz="0 0 0" />
    <parent link="world" />
    <child link="baseplate_link" />
  </joint>

  <link name="mountingplate_link">
    <visual>
      <origin xyz="0 0 0.0" />
      <geometry>
        <box size="0.3 0.3 0.012" />
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <joint name="mountingplate_joint" type="fixed">
    <origin xyz="0.0 -0.20 0.021" />
    <parent link="baseplate_link" />
    <child link="mountingplate_link" />
  </joint>

  <!-- robot to mouting_plate. -->
  <joint name="mountingplate_link" type="fixed">
    <parent link="mountingplate_link" />
    <child link="robot1_base_link" />
    <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 0.0"/>
  </joint>


  <joint name="beugel_to_vacuum_gripper" type ="fixed">
    <parent link="robot1_tool0" />
    <child link="vacuum_gripper_base_link" />
    <origin xyz="0.00072798 -0.089658 0" rpy="0.0 0.0 ${pi}"/>
  </joint>
  

</robot>
