<?xml version="1.0"?>
<launch>
<!--
  <param name="robot_description" textfile="'$(find demo)/urdf/demo_robot.urdf' use_nominal_extrinsics:=true" />
-->
  <param name="robot_description" textfile="$(find demo)/urdf/demo_robot.urdf"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find demo)/config/demo.rviz" required="true" />
</launch>
